h1 {
    text-align: center;
    font-size: 50pt;
}

p {
    padding-left: 10%;
    font-size: 22pt;
    float: left;
}

strong {
    padding-left: 10%;
    font-size: 25pt;
}

ul {
    font-size: 22pt;
    padding-left: 10%;
    padding-top: 40px;
    margin-right: 200px;
    list-style-type: none;
    float: left;
}

.prices {
    font-size: 22pt;
    padding-left: 10%;
    padding-top: 40pt;
    width: 100%;
    padding-bottom: 40pt;
}